{% extends "bootstrap_3_layout.html.twig" %}
{% block collection_widget %}
    {% spaceless %}
        <div class="cmf-form-collection">
            <div class="cmf-form-collection__list">
                {% for child in form %}
                    <div class="form-group cmf-form-collection__item row">
                        <div class="col-lg-2 cmf-form-collection__label">{{ form_label(child) }}</div>
                        <div class="col-lg-10 cmf-form-collection__field">
                            {{ form_widget(child) }}
                            <button type="button" class="btn btn-default btn-xs cmf-form-collection__button-remove">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </div>
                    </div>
                {% endfor %}
                {{ form_errors(form) }}
            </div>

            {#{{ dump(form_widget(form.vars.prototype))  }}#}
            {% if form.vars.prototype is defined %}
                <div class="form-group cmf-form-collection__item cmf-form-collection__template row" style="display: none" >
                    <div class="col-lg-2 cmf-form-collection__label"></div>
                    <div class="col-lg-10 cmf-form-collection__field">
                        <button type="button" class="btn btn-default btn-xs cmf-form-collection__button-remove">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </div>
                </div>
                <div class="cmf-form-collection__button-box">
                    <button type="button" class="btn btn-default btn-sm cmf-form-collection__button"
                            data-prototype="{{ form_widget(form.vars.prototype) | e }}">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            {% endif %}

        </div>
    {% endspaceless %}
{% endblock collection_widget %}
{% block checkbox_radio_label %}
    {# Do not display the label if widget is not defined in order to prevent double label rendering #}
    {% if widget is defined %}
        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if parent_label_class is defined %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
        {% endif %}
        {% if label is not same as(false) and label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{- widget|raw }} {{ label is not same as(false) ? (translation_domain is same as(false) ? label|raw : label|trans|raw({}, translation_domain)) -}}
        </label>
    {% endif %}
{% endblock checkbox_radio_label %}




