{% extends 'CMFAdminBundle:Default:base.html.twig' %}

{% block body -%}
    <h1>Section list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Code</th>
                <th>Уровень</th>
                <th>Left</th>
                <th>Right</th>
                <th>Родитель</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_section__show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.code }}</td>
                <td>{{ entity.lvl }}</td>
                <td>{{ entity.lft }}</td>
                <td>{{ entity.rgt }}</td>
                <td>
                    {% if entity.parent is not empty %}
                    <a href="{{ path('admin_section__show', { 'id': entity.parent.id }) }}">{{ entity.parent.name }}</a>
                    {% endif %}
                </td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_section__show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_section__edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_section__new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
