{% extends 'NovuscomCMFBundle:Default:admin.html.twig' %}
{% block body -%}
    {{ form_start(edit_form) }}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab_1" aria-expanded="true">Основная информация</a></li>
            <li><a data-toggle="tab" href="#tab_2" aria-expanded="false">Содержание</a></li>
            <li><a data-toggle="tab" href="#tab_3" aria-expanded="false">Картинки</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab_1" class="tab-pane active">
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(edit_form.name) }}
                        {{ form_row(edit_form.title) }}
                        {{ form_row(edit_form.description) }}
                        {{ form_row(edit_form.keywords) }}
                        {{ form_row(edit_form.header) }}
                    </div>
                    <div class="col-md-4">
                        {% if edit_form.url is defined %}
                            {{ form_row(edit_form.url) }}
                        {% endif %}
                        {% if edit_form.parent is not null %}
                            {{ form_row(edit_form.parent) }}
                        {% endif %}

                        {{ form_row(edit_form.template) }}
                    </div>
                </div>
            </div>
            <div id="tab_2" class="tab-pane">
                {{ form_row(edit_form.content, {'attr':{'class':'tinymce', 'style':'height: 800px;'}}) }}
            </div>
            <div id="tab_3" class="tab-pane">
                {{ form_row(edit_form.preview_picture) }}
                {% if entity.previewPicture is not empty %}

                    <a class="fancybox"
                       href="{{ asset('upload/images/'~entity.previewPicture.name) }}"><img
                                src="{{ asset('upload/images/'~entity.previewPicture.name) | imagine_filter('my_thumb') }}"/></a>
                    <div>
                        <a href="#"><i class="fa fa-trash-o"></i>
                            удалить превью пикчу</a>
                    </div>
                {% else %}
                {% endif %}
                {{ form_row(edit_form.detail_picture) }}
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col col-md-4">
                    <ul class="list-inline">
                        <li>{{ form_widget(edit_form.submit, {'attr':{'class':'btn-success'}}) }}</li>
                        <li><a class="btn btn-info"
                               href="{{ path('cmf_admin_site_pages', {'site_id':app.request.get('site_id')}) }}">
                                Список страниц
                            </a></li>
                    </ul>
                </div>
                <div class="col-md-1 pull-right text-right">
                    <a href="#" data-trigger="[data-delete]" class="btn btn-danger">Удалить</a>
                </div>
            </div>

        </div>
    </div>
    {{ form_end(edit_form) }}
    <div>{{ form(delete_form) }}</div>
{% endblock %}
{% block javascript %}
    {{ elfinder_tinymce_init4('tinymce') }}
    {{ tinymce_init() }}
{% endblock %}