{% extends 'NovuscomCMFBundle:Default:admin.html.twig' %}
{% block body -%}
    {{ form_start(form) }}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab_1" aria-expanded="true">Основная информация</a></li>
            <li><a data-toggle="tab" href="#tab_2" aria-expanded="false">Содержание</a></li>
            <li><a data-toggle="tab" href="#tab_3" aria-expanded="false">Картинки</a></li>
        </ul>

        <div class="tab-content">
            <div id="tab_1" class="tab-pane active">
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.name) }}
                        {{ form_row(form.title) }}
                        {{ form_row(form.description) }}
                        {{ form_row(form.keywords) }}
                        {{ form_row(form.header) }}
                    </div>
                    <div class="col-md-4">

                        {{ form_row(form.url) }}


                        {{ form_row(form.parent) }}

                        {{ form_row(form.template) }}
                    </div>
                </div>
            </div>
            <div id="tab_2" class="tab-pane">
                {{ form_row(form.content, {'attr':{'class':'tinymce', 'style':'height: 800px;'}}) }}
            </div>
            <div id="tab_3" class="tab-pane">
                {{ form_row(form.preview_picture) }}
                {{ form_row(form.detail_picture) }}
            </div>
        </div>

        <div class="box-footer">
            <div class="row">
                <div class="col col-md-4">
                    <ul class="list-inline">
                        <li>{{ form_widget(form.submit, {'attr':{'class':'btn-success'}}) }}</li>
                        <li>
                            <a class="btn btn-info"
                               href="{{ path('cmf_admin_site_pages', {'site_id':app.request.get('site_id')}) }}">
                                Список страниц
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascript %}
    {{ elfinder_tinymce_init4('tinymce') }}
    {{ tinymce_init({'theme': {
        'simple': {
            content_css: [
            '/templates/'~site.code~'/css/template_styles.css',
            '/admin/dist/css/tinymce.css'
            ],
            body_class: 'tinymce_body'
        }
    }}) }}
{% endblock %}
