{% extends 'NovuscomCMFBundle:Default:admin.html.twig' %}

{% block body -%}

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Блоки меню</h3>
        </div>
        <div class="box-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Название</th>
                    <th>Код</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>
                            <a href="{{ path('admin_menu_edit', { 'id': entity.id, 'site_id': app.request.get('site_id') }) }}">{{ entity.id }}</a>
                        </td>
                        <td>
                            <a href="{{ path('admin_menu_show', { 'id': entity.id, 'site_id': app.request.get('site_id') }) }}"><b>{{ entity.name }}</b></a>
                        </td>
                        <td>{{ entity.code }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
        <div class="box-footer">
            <a class="btn btn-success" href="{{ path('admin_menu_new', {'site_id': app.request.get('site_id')}) }}">
                <i class="glyphicon glyphicon-plus-sign"></i> Создать меню
            </a>
        </div>
    </div>
{% endblock %}
