{% extends 'NovuscomCMFBundle:Default:admin.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-table"></i>
                        <span>Список маршрутов</span>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-striped table-hover table-heading table-datatable">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Активность</th>
                            <th>Название</th>
                            <th>Код</th>
                            <th>Шаблон</th>
                            <th>Контроллер</th>
                            <th>Сортировка</th>
                            <th>Пареметры</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td><a href="{{ path('admin_route_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                                </td>
                                <td>
                                    {% if (entity.active) %}
                                        <i class="glyphicon glyphicon-check"></i>
                                    {% else %}
                                        <i class="glyphicon glyphicon-unchecked"></i>
                                    {% endif %}
                                </td>
                                <td><a href="{{ path('admin_route_edit', { 'id': entity.id }) }}">{{ entity.name }}</a>
                                </td>
                                <td>{{ entity.code }}</td>
                                <td>{{ entity.template }}</td>
                                <td>{{ entity.controller }}</td>
                                <td>{{ entity.sort }}</td>
                                <td>{{ entity.params }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Активность</th>
                            <th>Название</th>
                            <th>Код</th>
                            <th>Шаблон</th>
                            <th>Контроллер</th>
                            <th>Сортировка</th>
                            <th>Пареметры</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="box-footer">
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ path('admin_route_new') }}" class="btn btn-success">
                                <i class="fa fa-plus"></i>
                                Создать маршрут
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>





{% endblock %}
