{% extends 'NovuscomCMFBundle:Default:admin.html.twig' %}

{% block body -%}
    <h1>Заказ</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Создан</th>
            <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Адрес</th>
            <td>{{ entity.address }}</td>
        </tr>
        <tr>
            <th>Телефон</th>
            <td>{{ entity.phone }}</td>
        </tr>
        <tr>
            <th>Имя</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Товары</th>
            <td>
                {% for product in entity.product %}
                    <p><a target="_blank" href="{{ product.url }}">{{ product.name }}</a> - {{ product.price }} р.
                        - {{ product.quantity }} шт.</p>
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a href="{{ path('admin_order') }}">
                Все заказы
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
